._en {
  font-family:
    "",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

._ {
  font-family: "", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
    system-ui, serif;
  font-weight: 400;
}
