@use "./../mixin/" as *;

.sns {
  position: fixed;
  z-index: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: var(--black-1);
  inset: 0;
  display: grid;
  place-items: center;
  transition: 0.2s;
}

.sns[data-open="true"] {
  opacity: 1;
  z-index: 10;
}

.sns[data-open="false"] {
  opacity: 0;
  z-index: 0;
}

.sns__links {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: calc(var(--col) * 1);
  color: var(--white-1);
}
