@use "./../mixin/" as *;

.pagination-post {
}

.pagination-post .screen-reader-text {
  display: none;
}

.pagination-post .nav-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 3.2rem;
}

.pagination-post .nav-previous a {
  font-size: var(--font-size-2);
}

.pagination-post .nav-next a {
  font-size: var(--font-size-2);
}

.pagination-post .button-more {
  margin-top: 5rem;
}
