@use "./../mixin/" as *;

.pagination-basic {
}

.pagination-basic .navigation {
  display: grid;
}

.pagination-basic .screen-reader-text {
  display: none;
}

.pagination-basic .nav-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 5rem));
  gap: 5rem;
  justify-self: center;
  width: calc(5.2rem * 5 + 5rem * 4);
}

.pagination-basic .page-numbers {
  width: 5rem;
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  color: var(--blue-1);
  border: 0.1rem solid var(--blue-1);
}

.pagination-basic .page-numbers:hover {
  color: var(--white-1);
  background-color: var(--blue-1);
}

.pagination-basic .page-numbers.current {
  color: var(--white-1);
  background-color: var(--blue-1);
}

@include mq(sp) {
  .pagination-basic .nav-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 4rem));
    gap: 2rem;
    justify-self: center;
    width: 100%;
  }

  .pagination-basic .page-numbers {
    width: 4rem;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: var(--blue-1);
    border: 0.1rem solid var(--blue-1);
  }
}
